{% extends "encyclopedia/layout.html" %}

{% block title %}
    {% if article == none%}
        NOT FOUND
    {% else %}
        Encyclopedia of {{name}}
    {% endif %}

{% endblock %}


{% block body %}
    {% if article == none%}
        <center style="padding-top: 10%;"> 
            <h1 style="font-size: 400%;" >ERROR 404:</h1> <br>
            <h2>ARTICLE NOT FOUND</h2>
        </center>
    {% else %}
        <h1>{{name}}</h1>
        <div>{{article}}</div>
    {% endif %}

{% endblock %}